<!doctype html>
<html lang="EN">
  {% include "head.njk" %}
  <script>
      if ('serviceWorker' in navigator) {
      window.addEventListener('load', function() {
          navigator.serviceWorker.register('/sw.js').then(function(registration) {
          // Registration was successful
          console.log('ServiceWorker registration successful with scope: ', registration.scope);
          }, function(err) {
          // registration failed :(
          console.log('ServiceWorker registration failed: ', err);
          });
      });
      }
  </script>
  <body>

    <div class="container">
      {% include "header.njk" %}

      <div class="post-container">
        {% block content %}
        {% endblock %}
      </div>

      {% include "footer.njk" %}

    </div>

  </body>
</html>
