{% extends "default.njk" %}
{% block content %}
    {% for post in posts %}
    <article class="posts">
    <h1>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
    </h1>
    {% if post.data.image %}
    <div class="thumbnail-container">
        <a href="{{ post.url | url }}">
            <img src={{ post.data.image }} alt={{ post.data.title }} layout="responsive" width="1000" height="420"></img>
        </a>
    </div>
    {% endif %}
    <p>
        {{ post.data.description }} <a href="{{ post.url }}">Read more</a>
        <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.data.date | dateReadable }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include "read-time.njk" %}</span>
    </p>
    </article>
    {% endfor %}
    <main> 
        {{ content | safe }}
    </main> 

    <div class="pagination">

    {% if pagination.nextPageHref  %}
        <a class="pagination-button pagination-active next" href="{{ pagination.nextPageHref }}">Older</a>
    {% else %}
        <span class="pagination-button">Older</span>
    {% endif %}

    {% if pagination.previousPageHref %}
        <a class="pagination-button pagination-active" href="{{ pagination.previousPageHref }}">Newer</a>
    {% else %}
        <span class="pagination-button">Newer</span>
    {% endif %}
    </div>

{% endblock %}