<div class="menu">
  <nav class="menu-content">
    {% for item in site.settings.menu %}
      <a href="/{{ item.path }}/{{ item.url }}">{{ item.name }}</a>
    {% endfor %}
  </nav>
  <nav class="social-icons">
    {% include "social-icons.njk" %}
  </nav>
</div>
