{% for item in site.settings.social %}
  {% set first_char = item.link[0]  %}
  {% if first_char == '/' %}
    <a href="{{ site.baseurl }}{{ item.link }}" rel="noreferrer" aria-label="{{ item.icon }}"><i class="fa fa-{{ item.icon }} fnd" aria-hidden="true"></i></a>
  {% else %}
    <a href="{{ item.link }}" target="_blank" rel="noreferrer" aria-label="{{ item.icon }}"><i class="fa fa-{{ item.icon }} fnd" aria-hidden="true"></i></a>
  {% endif %}
{% endfor %}